<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <!-- Navigation Bar -->
  <div style="width:100%; background: rgba(255, 218, 185, 0.8); text-align: center; padding: 10px 0; position: fixed; top: 0; z-index: 1000;">
    <a href="/" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Abulikemu Abuduweili</a>
    <a href="#home" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Home</a>
    <a href="#research" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Research</a>
    <a href="#service" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Service</a>
    <a href="#teaching" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Teaching</a>
    <a href="#projects" style="margin: 0 15px; font-weight: bold; text-decoration: none; color: #000;">Misc</a>
  </div>

 <!-- Main Content -->
  <a id="home"></a>
  <br>
  <table style="width:100%;max-width:1100px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Abulikemu  Abuduweili
              </h1>
              <p>
                I am a PhD candidate in the <a href="https://www.ece.cmu.edu/">Department of Electrical and Computer Engineering</a> and <a href="https://www.ri.cmu.edu/">Robotics Institute</a>,
                at Carnegie Mellon University. I am fortunate to be advised by <a href="https://www.ri.cmu.edu/ri-faculty/changliu-liu/">Prof. Changliu Liu</a>, in the Robotics Institute, School of Computer Science.
                Before joining CMU, I spent an enriching year as a research assistant with <a href="https://www.humphreyshi.com/">Prof. Humphrey Shi</a> at the University of Oregon.
                I hold a Bachelor's and a Master's degree from the <a href="https://eecs.pku.edu.cn/en/">School of Electronics Engineering and Computer Science</a>  at Peking University.
                My research interests lie in robot learning, human-robot collaboration, optimization, continual learning, data-efficient machine learning, and computer vision.
              </p>
              <p> I have also gained valuable industry experience through internships at several organizations.
                 In the summer of 2024, I worked on Visual Representation Learning for Robotics at  <a href="https://www.microsoft.com/en-us/research/group/applied-robotics-research/">Microsoft Research Redmond</a>, collaborating with <a href="https://scriptedonachip.com/about">Lekan Molu</a> and <a href="https://www.microsoft.com/en-us/research/people/nawake/">Naoki Wake</a>.
                 During the summer of 2023, I focused on Diffusion Models at the <a href="https://www.tri.global/">Toyota Research Institute</a>, where I worked closely with <a href="https://www.mit.edu/~fperment/">Frank Permenter</a> and <a href="https://www.chenyang.co/">Chenyang Yuan</a>.
                Before 2021, I conducted a research internship at  <a href="https://research.baidu.com/">Baidu Research</a> under the guidance of <a href="https://www.mit.edu/~fperment/"> Prof. Dejing Dou</a>.
                I also completed a research internship at <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/?msockid=12d145ad420660d9392f51d4439f617e">Microsoft Research Asia</a>, collaborating  with <a href="https://www.microsoft.com/en-us/research/people/qlin/"> Qingwei Lin</a>.
              </p>
              <p> Feel free to reach out for collaborations or to discuss research. My official name is Abulikemu Abuduweili, but I also go by Abduwali <span style="font-family: 'serif';">/ˌæb du wæ li/</span> or Abu <span style="font-family: 'serif';">/ˈɑ bu/</span>.
              </p>
              <p style="color: red;">I am actively seeking a full-time, research-oriented position. If my expertise aligns with your needs, please feel free to reach out.
              </p>
              <p style="text-align:center">
                <a href="https://www.ri.cmu.edu/ri-people/abulikemu-abuduweili-2/">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/Walleclipse">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=6Oro5g8AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://drive.google.com/file/d/1pvxpRDg_z5RAZR5gT_jkMQMRRaUKaQYw/view?usp=drive_link">CV</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/abulikemu-abuduweili-9305b0171/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Abulikemu.jpg">
            </td>
          </tr>
        </table>

        <!-- Research Section -->
        <a id="research"></a>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm broadly interested in the intersection of robotics and machine learning, with a focus on areas such as robot learning, human-robot collaboration, optimization, continual learning, data-efficient learning, and robot vision.
                Below is a list of my research works  (* denotes equal contribution). Some papers are <span class="highlight">highlighted</span>. For a full publication list, please visit my <a href="https://scholar.google.com/citations?user=6Oro5g8AAAAJ">Google Scholar</a>.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr style="{% if post.highlight %}background-color: rgba(255, 255, 204, 0.7);{% endif %}">
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:400px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              {% if post.venue %}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% endif %}
              {% if post.award %}
              <br>
              <h3>{{post.award}}</h3>
              {% endif %}
              {% if post.collaborator %}
              <br>
              In collaboration with <em>{{post.collaborator}}</em>
              {% endif %}
              {% if post.sponsor %}
              <br>
              In part supported by <em>{{post.sponsor}}</em>
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.blog %}
              <a href="{{post.blog}}">blog</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}">news</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">-->
<!--          <tr>-->
<!--            <td style="padding:2.5%;width:100%;vertical-align:middle">-->
<!--              <h2>Award</h2>-->
<!--              <ul>-->
<!--                <li><h3>2023/11</h3> CoRL Travel Grant.</li>-->
<!--                <li><h3>Fall 2021-Spring 2022</h3> CIT Dean’s Fellowship at CMU.</li>-->
<!--                <li><h3>2021/8</h3> Best Paper Runner‑up at IJCAI Weakly Supervised Representation Learning Workshop.</li>-->
<!--                <li><h3>2020/8</h3> Excellent Graduation Thesis (M.S.) at Peking University.</li>-->
<!--                <li><h3>2020/5</h3> Incubic/Milton Chang Travel Grant at CLEO.</li>-->
<!--                <li><h3>2017/6</h3> (B.S.) Graduates with High Honors (Summa Cum Laude) at Peking University.</li>-->

<!--              </ul>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->

        <!-- Service Section -->
        <a id="service"></a>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Service</h2>
              <p><h3>Reviewer</h3> for 
                <ul>
                  <li><h3>Journals:</h3> IEEE T-RO, IEEE RA-L, IEEE T‐CSVT, TMLR. </li>
                  <li><h3>Conferences:</h3> NeurIPS, ICML, ICLR, ICRA, CVPR, ECCV, ICCV, ACCV, WACV, AAAI.</li>
                </ul>
              </p>
              <p><h3>Program Committee Member</h3> for
                <ul>
                  <li>ACL: Student Research Workshop </li>
                </ul>
              </p>
            </td>
          </tr>
        </table>

        <!-- Teaching Section -->
        <a id="teaching"></a>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p>Teaching assistant for <a href="https://18661.github.io/">18-661: Introduction to Machine Learning for Engineers (CMU)</a>. Instructor: <a href="https://www.ece.cmu.edu/directory/bios/chi-yuejie.html">Prof. Yuejie Chi</a> and <a href="https://www.andrew.cmu.edu/user/beidic/">Prof. Beidi Chen</a>.
              </p>
              <p>Teaching assistant for <a href="https://18-786.github.io/">18-786: Introduction to Deep Learning (CMU)</a>. Instructor: <a href="https://www.ece.cmu.edu/directory/bios/sankaranarayanan-aswin.html">Prof. Aswin Sankaranarayanan</a>.
              </p>
              <p>Teaching assistant for Optoelectronics (PKU). Instructor: <a href="https://scholar.google.com/citations?user=FrNUsgEAAAAJ">Prof. Zhiping Zhou</a>.
              </p>
            </td>
          </tr>
        </table>

        <!-- Projects Section -->
        <a id="projects"></a>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include courseworks and side projects. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:400px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              {% if post.venue %}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% endif %}
              {% if post.award %}
              <br>
              <h3>{{post.award}}</h3>
              {% endif %}
              {% if post.collaborator %}
              <br>
              In collaboration with <em>{{post.collaborator}}</em>
              {% endif %}
              {% if post.sponsor %}
              <br>
              In part supported by <em>{{post.sponsor}}</em>
              {% endif %}
              {% if post.course %}
              <br>
              <em>{{post.course}}</em>
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}">news</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        
        <!-- Footer -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

